/* Be aware of https://github.com/reactjs/react-modal#using-css-classes */

.Modal {
  margin: 100px auto;
  -webkit-overflow-scrolling: touch;
  outline: none;
}

.Modal__overlay {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: hsla(0,0%,97%,.8);
  z-index: 999;
}
