.ExerciseItem {
  padding: 25px;
  border-bottom: 1px solid #e8e8e8;
  display: flex;
  cursor: pointer;
}

.ExerciseItem:hover {
  background-color: #f9f9f9;
}

.ExerciseItem__thumbnail {
  width: 75px;
  height: 75px;
  background-color: rgb(217, 217, 217);
  margin-right: 25px;
}

.ExerciseItem__content {
  display: flex;
  align-items: flex-start;
  flex-direction: column;
  justify-content: center;
}

.ExerciseItem__name {
  font-size: 20px;
  font-weight: 200;
  letter-spacing: .2px;
  margin-bottom: 4px;
}

.ExerciseItem__mainMuscleWorked {
  color: #999;
  font-size: 14px;
  font-weight: 400;
  line-height: 18px;
}
