.ExercisePanel {
  background-color: #fff;
  border-right: 1px solid rgba(0,0,0,.09);
  box-shadow: 0 1px 4px 0 rgba(0,0,0,.04);
  width: 420px;
  height: 100%;
  position: fixed;
}

.ExercisePanel__header {
  border-bottom: 1px solid #e8e8e8;
  padding: 15px 0;
  margin: 0 20px;
  display: flex;
  align-items: flex-end;
  justify-content: space-between;
}

.ExercisePanel__title {
  font-size: 20px;
  line-height: 20px;
  font-weight: 200;
  letter-spacing: .2px;
}

.ExercisePanel__headerText {
  margin: 0 5px 0 8px;
  font-size: 14px;
  font-weight: 300;
}

.ExercisePanel__createExerciseLink {
  font-size: 14px;
  font-weight: 400;
  color: #005eaf;
  text-decoration: underline;
  cursor: pointer;
}

.ExercisePanel__search {
  flex: 1;
  margin-left: 20px;
}
