.RoutinesPage {
  padding: 30px 0;
}

.RoutinesPage__searchBar {
  flex: 1;
  margin: 0 20px;
}

.RoutinesPage__text {
  margin-right: 5px;
  font-size: 14px;
  font-weight: 300;
}

.RoutinesPage__createRoutineLink {
  font-size: 14px;
  font-weight: 400;
  color: #005eaf;
  text-decoration: underline;
  cursor: pointer;
}

.RoutinesPage__link {
  padding: 25px;
  display: flex;
  text-decoration: none;
}

.RoutinesPage__routineList--empty {
  height: 100px;
  position: relative;
}
